@page
@model GameProjects.Pages.Contributions.IndexModel

@{
    ViewData["Title"] = "Contribution Index";
}

<h1>Project Contributions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].ContributionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].ContributionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution[0].ContributionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contribution) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
